<html>
    <head>
        <title>Producer</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
        <script src="/assets/todo-list.js"></script>
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new message" required/>
                <button type="submit">Add Message</button>
            </form>
        </div>
    </body>

</html>